.overview-graph {

}

.overview-results {
	margin-bottom: 3em;
}

.overview-results__graph {
	width: 70%;
	margin: 0 auto;
	display: block;
}

.overview-sharing {
    margin-bottom: 3em;
}

.overview-more-info {
	padding: 6em 0 10em 0;
}

.overview-more-info b {
	color: $purple;
}

.overview-case-studies .col-3 {
	padding: 0 45px;
}

.case-study {
	background: $salmon;
	padding: 25px;
}

.case-study__thumb {
	width: 100%;
	display: block;
	margin-bottom: 1em;
}

.overview-contact-us {
	padding: 3em 0;
	margin-top: 4em;
}