.page-wrapper {
	max-width: 1400px;
	margin: 0 auto;
	width: 90%;
	// padding: 0 60px;
}

.page-wrapper--thin {
	@extend .page-wrapper;
	max-width: 1100px;

}

.page-wrapper--x-thin {
	@extend .page-wrapper;
	max-width: 900px;
}

.page-wrapper--medium {
	@extend .page-wrapper;
	max-width: 1250px;
}

body {
	padding-bottom: 1.5em;
}

body.no-pad-bottom{
	padding-bottom: 0;	
}